@media only screen and (max-width: 768px) {
    .cheri
    {
        background: rgba(64, 34, 7, 0.87);
        height: 1px;
        width: 100%;
         transform: rotate(-11deg);     /* Slant angle */
  transform-origin: left center;
  margin-top: 128.4px; 
  margin-left: auto;
  margin-right: auto;
    }
    .jayich
    {
        text-align: center;
        margin-top: 95px;
    }
    .jayich h1
    {
        color: #241303;
text-align: center;
font-family: Quattrocento;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    .meley
    {
        margin-top: 72px;
        margin-bottom: 24px;
    }
    .cartind2
    {
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 20px;
        gap: 20px;
    }
    .wa
    {
        color: #241303;
font-family: Quattrocento;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
margin-top: 48px;
    }
}